.borda1-delivery {
  background-color: indigo;
  width: 90%;
  margin-left: 5%;
}
.borda1-retirada {
  background-color: orange;
  width: 90%;
  margin-left: 5%;
}

.borda2 {
  background-color: rgb(255, 255, 255);
  margin-block: 0%;
  margin-right: 0%;
  margin-bottom: -10%;
}
