.title {
  margin-top: .8em;
  margin-bottom: .5em;
  color: rgb(121, 121, 121);
  font-size: .7em;
}
.name {
  color: rgb(43, 43, 43);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: .8em;
}