<div class="order-card" [className]="order.entrega==='Delivery' ? 'del-color' : 'ret-color'">
  <ion-row>
    <ion-col>
      <span class="order-id">{{order.id}}</span><br>
      <span class="order-status" [className]="order.status==='Pagamento confirmado' ? 'confirm-color' : 'analis-color'">{{order.status}}</span><br>
      <span class="order-delivery" [className]="order.entrega==='Delivery' ? 'del-color' : 'ret-color'">{{order.entrega}}</span><br>
    </ion-col>
    <ion-col>

    </ion-col>
  </ion-row>
</div>
